<h1>Add a Contact</h1>

<form action="/contacts" method="post">
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" id="firstName">

  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" id="lastName">

  <label for="month">Birth Month</label>
  <input type="text" name="month" id="month">

  <button type="submit" class="btn btn-success">Add Contact</button>
</form>
